@import url("https://fonts.googleapis.com/css2?family=Red+Hat+Text:wght@700&display=swap");

* {
  font-family: "Red Hat Text", sans-serif;
}
*::selection {
  background: transparent;
}

:root {
  --Gblue: #8486a9;
  --Sred: #fb6087;

  --White: #ffffff;
  --Dblue: #343650;
  --VBlue: #1e1f29;
  --Vdarkblue: #191a24;
}

ion-icon {
  color: #343650;
}

body {
  background: linear-gradient(180deg, #201e2b 40%, #251d2c 62%);
  overflow: hidden;
}

section {
  
  height: 90vh;
  min-height: 500px;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

figure img {
  position: absolute;
  width: 100%;
  object-fit: cover;
}

figure img:last-child {
  bottom: 0;
  left: 0;
}

.title {
  font-size: 30px;
  letter-spacing: 5px;
  color: var(--White);
}

.flex-container {
  display: flex;
  justify-content: center;
  gap: 30px;
  margin: 50px auto 150px;
  z-index: 999;
}

.flex-item {
  text-align: center;
}

.flip-panel {
  font-size: 70px;
  background-color: #343650;
  color: var(--Sred);
  padding: 30px;
  border-radius: 12px;
  box-shadow: 1px 10px #1a1a22;
  position: relative;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  width: 100px;
  height: 100px;
  perspective: 1000px;

}
.number {
  position: absolute;
  top: 0;
  left: 0;
  display: inline-block;
  width: 96%;
  height: 96%;
  text-align: center;
  color: #fb6087;
  background-color: #343650;
  font-size: 70px;
  
  display: flex;
  justify-content: center;
  align-items: center;
  border: solid;
  border-radius: 12px;
}
.seg, .min {
  transform: rotateX(-0deg);
}
.seg2, .min2{
  transform: rotateX(-90deg);
  
}
.segundos{
  animation:flip 1.1s ease-in-out infinite ;
}
  
.minutos {
  animation: flip 1.2s 2;
}

@keyframes flip {
  0% {
    transform: rotateX(0deg);
  }
  100% {
    transform-origin: rotateX(-70deg);
  }
}
.flex-item hr {
  position: absolute;
  top: 27.5%;
  left: 0;
  width: 100%;
  height: 1px;
  border: 1px #3436506b;
  border-style: inset;
  z-index: 1;
}
.flex-item div:first-child::after {
  content: "";
  width: 15px;
  height: 15px;
  border-radius: 50%;
  position: absolute;
  top: 45%;
  left: -5%;
  z-index: 10;
  background-color: #191a24;
}
.flex-item div:first-child::before {
  content: "";
  width: 15px;
  height: 15px;
  border-radius: 50%;
  position: absolute;
  top: 45%;
  right: -5%;
  z-index: 10;
  background-color: #191a24;
}

.flex-item div:nth-child(2) {
  margin-top: 20px;
  color: var(--Gblue);
  text-transform: uppercase;
  letter-spacing: 5px;
  font-size: 14px;
}

.redes{
  display: flex;
  gap: 30px;
}

.redes ion-icon:hover{
  color: #fb6087;
}